@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Agbalumo';
    background-color: aqua;
}

#gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin: 10px; /* Agrega un margen de 10px alrededor de cada cuadro */
}

.image {
    max-height: 200px;
    border-radius: 8px 0 0 8px;
    margin-left: 10px; /* Agrega un margen de 10px a la izquierda de la imagen */
}

.text {
    font-family: 'Agbalumo';
    padding: 20px;
}

h1 {
    font-family: 'Agbalumo';
    font-size: 24px;
    color: #000000;
    margin: 0;
    margin-bottom: 10px; /* Agrega un margen inferior de 10px al título */
}

p {
    font-size: 16px;
    color: #000000;
    margin: 0;
}